##Configurar cada una de las variables

##App Flask
#export PORT = 0000

##Db config
#export DATABASE_NAME = 'nombre.db'
#export DATABASE_PATH = 'PATH/ABSOLUTO/'

##JWT config
#export JWT_SECRET_KEY = 'clave'
#export JWT_ACCESS_TOKEN_EXPIRES = 3600

##Mail config
#export MAIL_SERVER = 'smtp.gmail.com'
#export MAIL_PORT = '587'
#export MAIL_USE_TLS = 'true'
#export MAIL_USERNAME = 'tumail@gmail.com'
#export MAIL_PASSWORD = 'clavedemail'
#export FLASKY_MAIL_SENDER = 'APP <admin@comerciocurso.com>'